<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystems

In this notebook, data science tools and ecosystems are summarized.

**Objectives:**
- coding in Python
- Working in Jupyterlab
- popular databases
- collaboration with git and github
- coding in R

Some of the popular languages that data scientists use are:
1. python
2. c++
3. r
4. Java

Some of the commonly used libraries used by data scientists include:
1. Pandas
2. Matplotlib
3. Numpy
4. Seaborn

|Data Science Tools|
|------|
|MySQL|
|PostgreSQL|
|MongoDB|

### Below are some examples of evaluating arithmetic expressions in Python

In [1]:
# this is a simple arithmetic expresion to multiply then add integers
(3*4)+5

17

In [4]:
# this will convert 200 minutes to hrs by dividing by 60

x = 200/60 

print('200 minutes are', x, "hrs")

200 minutes are 3.3333333333333335 hrs

## Author
Tim Martin